<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{homeUrl}}">OMGcast</a>
      </div>
    </header>
    <div id="main">
      {{>Template.dynamic template=content}}
    </div>
  </div>
<!--   <div class="container">
    <div id="header">
      {{>Template.dynamic template=header}}
    </div>
      {{>Template.dynamic template=errors}}
    <div id="main">
      {{>Template.dynamic template=yield}}
    </div>
    <div id="footer">
      {{>Template.dynamic template=footer}}
    </div>
  </div>-->
 </template>