<template name="podcastPage">
  <div class="podcast-page page">
    {{#if Template.subscriptionsReady}}
      {{#with podcast}}
        <div class="podcast-page">
          <img class="podcast-page__cover-img" src="{{coverImage}}">
          <div class="podcast-page__info">
            <span class="podcast-page__title">{{title}}</span><br>
            <span class="podcast-page__host">mixed by {{host}}</span>
            <div><ol class="podcast-page__playlist">
              {{#each podcast.playlist}}
                <li class="podcast-page__track">
                {{artist}}: "{{title}}" 
                {{#if remix}}
                  {{remix}}
                {{/if}} 
                {{#if label}}
                  {{label}}
                {{/if}}</li>
              {{/each}}
            </ol></div>
          </div>
        </div>
      {{/with}}
      <ul class="comments">
        {{#each comments}}
          {{> commentItem}}
        {{/each}}
      </ul>
    {{else}}
      {{>spinner}}
    {{/if}}

<!--     {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
 -->  </div>
</template> 