<template name='podcastItem'>
  <div class='podcast'>
    <img class='podcast__cover-img' src='{{coverImage}}' />
    <div class='hidden podcast__overlay'>
      <a href='{{podcastPage episodeNumber}}'><h3 class='podcast__link'>{{title}}<br><small>mixed by</small><br>{{host}}</h3></a>
      <div class='podcast__controls'>
        <img class='podcast__play-btn' data-episodenumber='{{episodeNumber}}' src='/img/play.png'>
        <a class='podcast__view-btn' href='{{podcastPage episodeNumber}}'><img class='podcast__view-btn__img' src='/img/view.png'></a>
      </div>
      <!--<p>
        Mixed by {{host}}
        <a href='{{pathFor 'podcastPage'}}'>{{pluralize commentsCount 'comment'}}</a>
      </p>
    <a href='{{pathFor 'podcastPage'}}' class='discuss btn btn-default'>Discuss</a>-->
    </div>
  </div>
</template>