<template name="podcastItem">
  <div class="podcast">
    <div class="podcast-content">
      <img src="{{coverImage}}" />
      <div class="hidden podcast-overlay">
        <a href="{{podcastPage episodeNumber}}"><h3>{{title}}<br><small>mixed by</small><br>{{host}}</h3></a>
        <!--<p>
          Mixed by {{host}}
          <a href="{{pathFor 'podcastPage'}}">{{pluralize commentsCount "comment"}}</a>
        </p>
      <a href="{{pathFor 'podcastPage'}}" class="discuss btn btn-default">Discuss</a>-->
      </div>
    </div>
  </div>
</template>