<template name='podcastsList'>
  <div class='dig hidden'>
    <div class='dig__text-box'>
      {{> EasySearch.Input index=podcastsIndex timeout=300}}
      <button class='dig__tag-btn'><img src='/img/hash.png'></button>
      {{#EasySearch.IfNoResults index=podcastsIndex}}
        <span class="dig__no-results">No results found.</span>
      {{/EasySearch.IfNoResults}}
    </div>
    {{#if tagsOpen}}
      <div class='dig__tag-box'>
        {{#each tags}}
          <button class='dig__tag'>#{{this}}</button>
        {{/each}}
        {{#if moreTags}}<button class='dig__more-tags'>More</button>{{/if}}
      </div>
    {{/if}}
  </div>
  <div class='clear'></div>
  <div class='podcasts'>
    <div class='info-box podcast'>
      <div class='info-box__content'>
        <a href='{{newsPage}}'><img class='logo-img' src='/img/808-mixtapes-logo.png'></a>
        <div class='info-box__social'>
          <a href='http://soundcloud.com/808mixtapes' target="_blank"><img src='/img/soundcloud.png'></a>
          <a href='http://808mixtapes.tumblr.com' target="_blank"><img src='/img/tumblr.png'></a>
          <a href='http://twitter.com/daveyshindig' target="_blank"><img src='/img/twitter.png'></a>
          <a href='http://facebook.com/davey.shindig' target="_blank"><img src='/img/facebook.png'></a>
        </div>
        <p class='info-box__show-description'>808 MIXTAPES is a radio show and mixtape series that showcases local DJs, as well as those who visit Hawaii. You can hear it live on air with your host, <a href='/shindig'>Davey Shindig</a>, every Friday night, 6-9pm HST, on <a href='http://ktuh.org/'>KTUH 90.3 FM Honolulu, 91.3 FM North Shore.</a> Or listen to the complete mix series here.</p>
      </div>
    </div>
    {{#EasySearch.Each index=podcastsIndex}}
      {{> podcastItem}}
    {{/EasySearch.Each}}
  </div>
    <span class='load-more-button'>{{> EasySearch.LoadMore index=podcastsIndex}}</span>
</template>