<template name='podcastPage'>
  <div class='page'>
    {{#if Template.subscriptionsReady}}
      {{#with podcast}}
        <div class='podcast-page'>
          <img class='podcast-page__cover-img' src='{{coverImage}}'>
          <div class='podcast-page__info'>
            <a class='podcast-page__play-btn' href='{{mp3}}'><img src='/img/play.png'></a><br>
            <span class='podcast-page__title'>{{title}}</span><br>
            <span class='podcast-page__host'>mixed by {{host}}</span><br>
            <div><ol class='podcast-page__playlist'>
              {{#with playlist}}
                {{#each tracks}}
                  <li class='podcast-page__track'>
                  <b>{{artist}}</b>: '{{title}}'{{#if featuring}} [{{featuring}}]{{/if}}{{#if remix}} ({{remix}}){{/if}}{{#if label}} <small>({{label}})</small>{{/if}}</li>
                {{/each}}
              {{/with}}
            </ol></div>
          </div>
        </div>
      {{/with}}
      <ul class='comments'>
        {{#each comments}}
          <!-- {{> commentItem}} -->
        {{/each}}
      </ul>
    {{else}}
      {{>spinner}}
    {{/if}}

<!--     {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
 -->  </div>
</template> 