<template name='podcastItem'>
  <div class='podcast'>
    <img class='podcast__cover-img' src='{{coverImage}}'>
    <div class='podcast__overlay hidden'>
      <div class='podcast__controls'>
        <img class='podcast__play-btn' data-path='{{mp3}}' src={{#if isPlaying mp3}}/img/pause.png{{else}}/img/play.png{{/if}}>
      </div>
      <div class='podcast__details hidden'>
        <a class='podcast__link' href='{{podcastPage episodeNumber}}'><h3>{{title}}<br><small>mixed by</small><br>{{host}}</h3>
        {{#with playlist}}
          <ol class='podcast__playlist'>
          {{#each tracks}}
            <li class='podcast__track'>
            <b>{{artist}}</b>: '{{title}}'{{#if featuring}} [{{featuring}}]{{/if}}{{#if remix}} ({{remix}}){{/if}}{{#if label}} <small>({{label}})</small>{{/if}}</li>
          {{/each}}
          </ol>
        {{/with}}</a>
        <div class='podcast__tags'>
          {{#each tags}}
            <span class='podcast__tag'>#{{this}}</span>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>