<template name='newsList'>
  <div class='news'>
    <div class="btn-group-lg news__news-btns" role="group" aria-label="...">
      <button type="button" class="btn news__news-btn">News</button>
      <button type="button" class="btn news__news-btn">Parties</button>
      <button type="button" class="btn news__news-btn">Chat</button>
    </div>
    <div class='news__parties'>
      PARTIES GO HERE.
    </div>
    <div class='news__content'>
      <h1>808 NEWS</h1>
      {{#each posts}}
        <a href={{newsItemPath slug}}><h3>{{title}}</h3></a>
        <div>{{{body}}}</div>
      {{/each}}
    </div>
    <div class='news__chat'>
      {{#if Template.subscriptionsReady}}
        {{#if currentUser}}
          {{> chatForm}}
        {{else}}
          <p class='comments__text'>Please register to chat.</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>