@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensans-webfont.eot');
    src: url('/fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensans-webfont.woff2') format('woff2'),
         url('/fonts/swedensans-webfont.woff') format('woff'),
         url('/fonts/swedensans-webfont.ttf') format('truetype'),
         url('/fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensansbold-webfont.eot');
    src: url('/fonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensansbold-webfont.woff2') format('woff2'),
         url('/fonts/swedensansbold-webfont.woff') format('woff'),
         url('/fonts/swedensansbold-webfont.ttf') format('truetype'),
         url('/fonts/swedensansbold-webfont.svg#sweden_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

.grid-block,
.main,
.podcast,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background: #fff;
    color: #333;
    font-family: 'Sweden Sans';
}
img {
    max-width: 100%;
    height: auto;
}
#main {
    position: relative;
}
.page {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    margin-bottom: 10px;
    border: none;
}
.navbar .navbar-inner {
    border-radius: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}
.nav__play-img {
    max-height: 12px;
    width: auto;
}
#spinner {
    height: 300px;
}
.info-box {
    float: left;
    width: 33.33%;
    padding: 0;
}
.info-box:before {
    content: "";
    display: block;
    padding-top: 200%;
}
.info-box__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px 15px;
}
.info-box__content p {
    line-height: 1.4em;
}
.info-box__social { 
    margin: auto;
    padding: 12px 0;
    max-width: 66.66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.info-box__social a {
    flex-basis: auto;
    max-width: 25%;
}
.logo-img {
    max-width: 100%;
    margin: auto;

}
.podcasts {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: space-around;
}
.podcast {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
    width: 33.33333%;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
.podcast.invisible {
    opacity: 0;
}
.podcast.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.podcast.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}
.podcast .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.podcast__cover-img {
    position: relative;
    width: 100%;
    padding: 1px;
}
.podcast__overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    width: 80%;
    background: rgba(256,256,256,.8);
}
.podcast__link h3 {
    text-align: center;
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 15px;
    color: #333;
}
.podcast__controls {
    width: 60%;
    margin: auto;
    padding: 12px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}
.podcast__view-btn__img,
.podcast__play-btn,
.podcast__view-btn {
    width: 40px;
    height: 40px;
}
.podcast p {
    margin: 0;
}
.podcast .discuss {
    display: block;
    float: left;
    margin-top: 7px;
}
.podcast-page {
    margin-left: 10px;
}
.podcast-page__info {
    float: left;
    padding-left: 15px;
}
.podcast-page__title,
.podcast-page__host {
    font-size: 1.5em;
}
.podcast-page__title {
    font-weight: bold;
}
.podcast-page__playlist {
    font-size: .9em;

}
ol.podcast-page__playlist {
    padding: 12px 0 0 14px;
}
.podcast-page__cover-div {
    position: relative;
    float: left;
    width: 50%;
}
.podcast-page__cover-img {
    position: relative;
}
.podcast-page__play-btn {
    position: absolute;
    width: 120px;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    border-radius: 50%;
    background: rgba(256, 256, 256, .8);
}
.comments {
    clear: both;
}
.comments__header {
    padding: 60px 0 10px;
    margin: 0;
    font-size: 18px;
}
.comments__list {
    list-style-type: none;
    padding-left: 0;
}
.comments__list h4 {
    margin: 0;
}
.comments__list p:last-child {
    margin-bottom: 0;
}
.comment__author,
.comment__date {
    font-size: 16px;
}
.comment__date {
    font-weight: normal;
}
.post {
    padding: 0 15px;
}
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.podcasts .spinner-container {
    position: relative;
    height: 100px;
}
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active
{
    background: #000;
    color: #fff;
    outline: none;
}
.index-table img {
    max-width: 80px;
    height: auto;
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
.hidden {
    visibility: hidden;
}


/** audio player styles **/
.audio-player, .audio-player div, .audio-player h2, .audio-player a, .audio-player span, .audio-player button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
div.audio-player {
  position: relative;
  width: 165px;
  height: 20px;
  margin: 7px 5px 0 0;
  padding: 15px;
}
.mejs-container,
.mejs-container .mejs-controls {
    background: none;
    background-image: none;
}
.mejs-offscreen { display: none !important; }

/* play/pause control */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  position: absolute;
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  background: url('/img/playpause.png') no-repeat scroll;
}
.mejs-controls .mejs-pause button { background-position: 0 -12px; }

/* time scrubber bar */
.mejs-controls div.mejs-time-rail { width: 130px; }

.mejs-controls .mejs-time-rail a, 
.mejs-controls .mejs-time-rail span {
  position: absolute;
  display: block;
  width: 110px;
  height: 2px;
  top: 7px;
  left: 25px;
  cursor: pointer;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #000;
  width: 110px !important; /* fixes display bug using jQuery 1.8+ */
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  top: 0;
  left: 0;
  width: 0;
  background: #333;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  top: 0;
  left: 0;
  width: 0;
  background: #888;
}

/* metallic sliders */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  position: absolute;
  display: block;
  width: 11px;
  height: 11px;
  top: -4px;
  background: url('/img/handle-lg.png') no-repeat;
}
/* time progress tooltip */
.mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  display: none;
  width: 33px;
  height: 16px;
  top: -23px;
  margin-left: -20px;
  z-index: 9999;
  background: url('/img/time-box.png');
}
.mejs-controls .mejs-time-rail .mejs-time-float-current {
  width: 33px;
  display: block;
  left: -3px;
  top: 0;
  font-family: 'Sweden Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #666;
  text-align: center;
  z-index: 9999;
}
.dig {
    display: none;
    padding: 0 15px;
}
.dig__icon { 
    max-width: 20px;
    margin: 15px 6px;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .info-box,
    .podcast {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .podcast__controls {
        width: 50%;
    }
    .podcast-page__play-btn {
        width: 90px;
    }
}
@media (max-width: 992px) {
    .podcast-page__play-btn {
        width: 90px;
    }
}
@media (min-width: 768px) {
    .podcast__link { 
        font-size: 18px;
    }
    .podcast__view-btn__img,
    .podcast__play-btn,
    .podcast__view-btn {
        height: 45px;
        width: 45px;
    }
}
@media (max-width: 666px) {
    .info-box,
    .podcast {
        width: 50%;
    }
    .podcast-page__play-btn {
        width: 120px;
    }
    .podcast-page__cover-div {
        width: 100%;
    }
    .podcast-page__info {
        padding: 25px 0;
    }
}
@media (max-width: 430px) {
    .info-box,
    .podcast {
        width: 100%;
    }
    .info-box__content {
        padding: 0;
    }
    .logo-img {
        margin: 0 14% 0 14%;
        max-width: 75%;
    }
    .info-box__show-description {
        padding-bottom: 20px;
    }
    .podcast-page__play-btn {
        width: 90px;
    }
}