@font-face {
    font-family: 'sweden_sansregular';
    src: url('/fonts/swedensans-webfont.eot');
    src: url('/fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensans-webfont.woff2') format('woff2'),
         url('/fonts/swedensans-webfont.woff') format('woff'),
         url('/fonts/swedensans-webfont.ttf') format('truetype'),
         url('/fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.grid-block,
.main,
.podcast,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background: #fff;
    color: #666666;
}
#main {
    position: relative;
}
.page {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    margin-bottom: 10px;
}
.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px;
}
#spinner {
    height: 300px;
}
.info-box {
    float: left;
    width: 33.33%;
}
.info-box:before {
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}
.info-box__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    padding: 20px 15px;
}
.info-box__content p {
    font-family: 'Sweden Sans';
    line-height: 1.4em;
    padding: 12px 0;
}
.\.info-box__social { 
    margin: auto;
    max-width: 75%;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.\.info-box__social a {
    flex-basis: auto;
    max-width: 100%;
}
.\.info-box__social a img {
    width: 40px;
    max-width: 100%;
}
.logo-img {
    max-width: 100%;
}
.podcasts {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: space-around;
}
.podcast {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
    width: 33.33%;
    padding: 0;
    border: 0;
    margin: 0;
    padding: 1px;
    box-shadow: none;
    border-radius: 0;
}
.podcast:before,
.podcast:after {
    content: "";
    display: table;
}
.podcast:after {
    clear: both;
}
.podcast.invisible {
    opacity: 0;
}
.podcast.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.podcast.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}
.podcast .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.podcast__cover-img {
    position: relative;
    width: 100%;
}
.podcast__overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    max-width: 80%;
    background: rgba(256,256,256,.8);
    font-family: 'Sweden Sans';
}
.podcast__overlay h3 {
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
    color: #2f2f2f;
}
.podcast__controls {
    width: 50%;
    margin: auto;
    padding: 12px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}
.podcast__play-btn,
.podcast__view-btn {
    width: 60px;
    height: 60px;
}
.podcast__view-btn__img {
    width: 60px;
    height: 60px;
}
.podcast p {
    margin: 0;
}
.podcast .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a {
    font-size: 12px;
}
.comments li p:last-child {
    margin-bottom: 0;
}
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.podcasts .spinner-container {
    position: relative;
    height: 100px;
}
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
.hidden {
    visibility: hidden;
}