@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensans-webfont.eot');
    src: url('/fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensans-webfont.woff2') format('woff2'),
         url('/fonts/swedensans-webfont.woff') format('woff'),
         url('/fonts/swedensans-webfont.ttf') format('truetype'),
         url('/fonts/swedensans-webfont.svg#sweden_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden Sans';
    src: url('/fonts/swedensansbold-webfont.eot');
    src: url('/fonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/swedensansbold-webfont.woff2') format('woff2'),
         url('/fonts/swedensansbold-webfont.woff') format('woff'),
         url('/fonts/swedensansbold-webfont.ttf') format('truetype'),
         url('/fonts/swedensansbold-webfont.svg#sweden_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

.grid-block,
.main,
.podcast,
.comments li,
.comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
body {
    background: #fff;
    color: #666666;
    font-family: 'Sweden Sans';
}
img {
    max-width: 100%;
    height: auto;
}
#main {
    position: relative;
}
.page {
    position: absolute;
    top: 0px;
    width: 100%;
}
.navbar {
    margin-bottom: 10px;
    border: none;
}
.navbar .navbar-inner {
    border-radius: 0;
}
#spinner {
    height: 300px;
}
.info-box {
    float: left;
    width: 33.33%;
    padding: 0;
}
.info-box:before {
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1 */
}
.info-box__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: inherit;
    padding: 20px 15px;
}
.info-box__content p {
    line-height: 1.4em;
}
.info-box__social { 
    margin: auto;
    padding: 12px 0;
    max-width: 66.66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.info-box__social a {
    flex-basis: auto;
    max-width: 25%;
}
.logo-img {
    max-width: 100%;
    margin: auto;

}
.podcasts {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: space-around;
}
.podcast {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
    width: 33.33333%;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}
.podcast:before,
.podcast:after {
    content: "";
    display: table;
}
.podcast:after {
    clear: both;
}
.podcast.invisible {
    opacity: 0;
}
.podcast.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.podcast.animate {
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
}
.podcast .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.podcast__cover-img {
    position: relative;
    width: 100%;
    padding: 1px;
}
.podcast__overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10%;
    width: 80%;
    background: rgba(256,256,256,.8);
}
.podcast__link {
    text-align: center;
    margin-bottom: 0;
    line-height: 1.4;
    font-size: 15px;
    color: #2f2f2f;
}
.podcast__controls {
    width: 60%;
    margin: auto;
    padding: 12px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}
.podcast__view-btn__img,
.podcast__play-btn,
.podcast__view-btn {
    width: 40px;
    height: 40px;
}
.podcast p {
    margin: 0;
}
.podcast .discuss {
    display: block;
    float: left;
    margin-top: 7px;
}
.podcast-page {
    margin-left: 10px;
}
.podcast-page__cover-img {
    float: left;
    max-width: 50%;
}
.podcast-page__info {
    float: left;
    margin-left: 1.5%;
}
.podcast-page__title,
.podcast-page__host {
    font-size: 1.5em;
}
.podcast-page__title {
    font-weight: bold;
}
.podcast-page__playlist {
    font-size: .9em;

}
ol.podcast-page__playlist {
    padding: 12px 0 0 14px;
}
.podcast-page__track {
}
.podcast-page__play-btn img {
    max-width: 60px;
    padding: 8px 0;
}
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a {
    font-size: 12px;
}
.comments li p:last-child {
    margin-bottom: 0;
}
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.podcasts .spinner-container {
    position: relative;
    height: 100px;
}
.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}
.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}
.hidden {
    visibility: hidden;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:active
{
    background: #000;
    color: #fff;
    outline: none;
}
.index-table img {
    max-width: 80px;
    height: auto;
}
@media (min-width: 1200px) {
    .info-box,
    .podcast {
        width: 25%;
    }
}
@media (min-width: 992px) {
    .podcast__controls {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .podcast__link { 
        font-size: 18px;
    }
    .podcast__view-btn__img,
    .podcast__play-btn,
    .podcast__view-btn {
        height: 45px;
        width: 45px;
    }
}
@media (max-width: 666px) {
    .info-box,
    .podcast {
        width: 50%;
    }
}
@media (max-width: 430px) {
    .info-box,
    .podcast {
        width: 100%;
    }
    .info-box__content {
        padding: 0;
    }
    .logo-img {
        margin: 0 14% 0 14%;
        max-width: 75%;
    }
    .info-box__show-description {
        padding-bottom: 20px;
    }
}