<template name='header'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navigation'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' href='/'>808mix</a>
    </div>
    <div class='collapse navbar-collapse' id='navigation'>
      <ul class='nav navbar-nav navbar-right'>
        <li class='{{activePage 'home' 'podcastPage'}} nav-item nav-item__mixes'>
          <a href='/'>Mixes</a>
        </li>
        <li class='{{activePage 'news' 'newsPage'}} nav-item nav-item__news'><a href={{newsPage}}>News</a></li>
        <li class='nav-item'>
          <div class='audio-player'>
            <audio id='audio-player' src='/audio/Interlude1.mp3' type='audio/mp3' controls='controls'></audio>
          </div>
        </li>
        <li id='sb-search' class='nav-item sb-search'>
          <form>
            <input class='sb-search-input' placeholder='Enter your search term...' type='search' value='' name='search' id='search'>
            <input class='sb-search-submit' type='submit' value=''>
            <span class='sb-icon-search'></span>
          </form>
          <!-- <img class='dig__icon' src='/img/search.png'> -->
        </li>
      {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
